@page
@model WebAppForCarsDB.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="table1">
    <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        @*<td>
                            <a asp-page="./Edit" asp-route-id="@item.FirebaseID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.FirebaseID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.FirebaseID">Delete</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>


</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyA1z_4pbREdKX8c3c5sHhYBm0SOUgaT3_E",
        authDomain: "fir-hacktyki.firebaseapp.com",
        databaseURL: "https://fir-hacktyki.firebaseio.com",
        projectId: "fir-hacktyki",
        storageBucket: "fir-hacktyki.appspot.com",
        messagingSenderId: "768832612712",
        appId: "1:768832612712:web:2bc638f0454dc7fbe20edd",
        measurementId: "G-P66RDJKSXD"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>


